<!DOCTYPE html>
<html>
  <head>
    <title>angular-evaporate</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
  </head>
  <body ng-app="myApp">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">angular-evaporate</div>
          <p class="navbar-text">usage example</p>
        </div>
      </div>
    </nav>
    <div class="container" ng-controller="myCtrl">

      <!-- input -->
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <h4>Choose files</h4>
          <div class="input-group">
            <label class="input-group-btn">
              <span class="btn btn-primary">
                <span>Browse&hellip;</span>

                <!-- AngularEvaporate -->
                <input type="file" style="display:none;" multiple angular-evaporate="ae">

              </span>
            </label>
            <input type="text" class="form-control" readonly value="{{ae.$uploads.length + ' files queued'}}">
          </div>
          <span class="help-block">Evaporate is supported: {{ae.supported}}</span>
        </div>
      </div>

      <!-- uploads -->
      <div class="row">
        <div class="col-xs-12">
          <h4>Uploads queue</h4>
          <p class="text-muted" ng-hide="ae.$uploads.length">Empty</p>
          <table class="table table-responsive table-striped">
            <tbody>
              <tr ng-repeat="upload in ae.$uploads">

                <!-- basic info -->
                <td ng-bind="upload.name"></td>
                <td ng-bind="upload.contentType"></td>
                <td>{{Math.round(upload.file.size/1024)}}kB</td>

                <!-- actions -->
                <td class="my-actions-1">
                  <i class="fa fa-fw fa-send-o" title="Start"
                    ng-class="{'my-disabled':upload.$started}"
                    ng-click="upload.$start()"
                  ></i>
                  <i class="fa fa-fw fa-times" title="Dequeue"
                    ng-class="{'my-disabled':upload.$started&&!upload.$stopped}"
                    ng-click="upload.$dequeue()"
                  ></i>
                </td>
                <td class="my-actions-2">
                  <i class="fa fa-fw fa-pause" title="Pause"
                    ng-class="{'my-disabled':!upload.$started||upload.$pausing||upload.$paused||upload.$stopped}"
                    ng-click="upload.$pause({force:true})"
                  ></i>
                  <i class="fa fa-fw fa-play" title="Resume"
                    ng-class="{'my-disabled':!upload.$started||!upload.$paused||upload.$stopped}"
                    ng-click="upload.$resume()"
                  ></i>
                  <i class="fa fa-fw fa-stop" title="Cancel"
                    ng-class="{'my-disabled':!upload.$started||upload.$stopped}"
                    ng-click="upload.$cancel()"
                  ></i>
                </td>

                <!-- progress -->
                <td>
                  <div class="form-horizontal">
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-primary progress-bar-striped"
                        ng-class="{'active':upload.$started&&!upload.$paused&&!upload.$stopped,'progress-bar-success':upload.$complete}"
                        ng-style="{'width':(upload.$percent||0)+'%'}"
                      ></div>
                    </div>
                    {{upload.$seconds?(upload.$speed+' - '+upload.$seconds+'s'):''}}
                  </div>
                </td>

                <!-- result -->
                <td>
                  <a target="_blank" ng-href="{{upload.$url}}">
                    <i
                      class="fa fa-fw fa-external-link"
                      ng-class="{'my-disabled':!upload.$complete}"
                      title="Open result in a new tab"
                    ></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot ng-show="ae.$uploads.length">
              <tr>
                <td colspan="3">&gt;&nbsp;all uploads</td>
                <td class="my-actions-1">
                  <i class="fa fa-fw fa-send-o" title="Start" ng-click="ae.$startAll()"></i>
                  <i class="fa fa-fw fa-times" title="Dequeue" ng-click="ae.$dequeueAll()"></i>
                </td>
                <td class="my-actions-2">
                  <i class="fa fa-fw fa-pause" title="Pause" ng-click="ae.$pauseAll({force:true})"></i>
                  <i class="fa fa-fw fa-play" title="Resume" ng-click="ae.$resumeAll()"></i>
                  <i class="fa fa-fw fa-stop" title="Cancel" ng-click="ae.$cancelAll()"></i>
                </td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
