div.progress {
  margin: 7px 0 21px;
  padding: 0;
  width: 540px;
  height: 20px;
  background-color: #eef;
  border: 2px solid black;
}

div.progress-indicator {
  margin: 0;
  padding: 0;
  background-color: #fbcb46;
  position: relative;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
}

div.progress-value {
  position: relative;
  top: -18px;
  margin: 0;
  padding: 0;
  height: 20px;
  text-align: center;
  font-weight: bold;
}
