<!DOCTYPE html>
<html>
  <head>
    <title>angular-evaporate</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
  </head>
  <body ng-app="myApp">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">angular-evaporate</div>
          <p class="navbar-text">"evaporate" directive demo</p>
        </div>
      </div>
    </nav>
    <div class="container" ng-controller="myCtrl">
      <div class="row">

        <!-- input -->
        <div class="col-xs-6 col-sm-4">
          <h4>Choose files</h4>
          <div class="input-group">
            <label class="input-group-btn">
              <span class="btn btn-primary">
                <span>Browse&hellip;</span>

                <!-- AngularEvaporate -->
                <input type="file" style="display:none;" multiple evaporate="ae">

              </span>
            </label>
            <input type="text" class="form-control" readonly value="{{ae.$uploads.length + ' files queued'}}">
          </div>
          <span class="help-block">Evaporate is supported: {{ae.supported}}</span>
        </div>
      </div>
      <div class="row">

        <!-- uploads -->
        <div class="col-xs-12">
          <h4>Uploads queue</h4>
          <p class="text-muted" ng-hide="ae.$uploads.length">Empty</p>
          <table class="table table-responsive table-striped">
            <tbody>
              <tr ng-repeat="upload in ae.$uploads">

                <!-- basic info -->
                <td ng-bind="upload.name"></td>
                <td ng-bind="upload.contentType"></td>
                <td>{{Math.round(upload.file.size/1024)}}kB</td>

                <!-- actions -->
                <td ng-class="{'disabled':upload.$complete||upload.$cancelled||upload.$error}" style="min-width:7em;">
                  <i class="fa fa-fw fa-play" title="Start or resume an upload"
                    ng-class="{'disabled':upload.$started&&!upload.$paused}"
                    ng-click="(upload.$start||upload.$resume)()"
                  ></i>
                  <i class="fa fa-fw fa-pause" title="Pause an upload"
                    ng-class="{'disabled':!upload.$started||upload.$pausing||upload.$paused}"
                    ng-click="upload.$pause()"
                  ></i>
                  <i class="fa fa-fw fa-stop" title="Dequeue or cancel an upload"
                    ng-click="(upload.$dequeue||upload.$cancel)()"
                  ></i>
                </td>

                <!-- progress / result -->
                <td>
                  <div class="form-horizontal" ng-hide="!upload.$started||upload.$complete||upload.$cancelled||upload.$error">
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-primary progress-bar-striped active"
                        ng-style="{'width':(upload.$percent||0)+'%'}"
                        ng-bind="upload.$seconds?upload.$seconds+'s':''"
                      ></div>
                    </div>
                  </div>
                  <a target="_blank" ng-href="{{upload.$url}}" ng-show="upload.$complete">
                    <i
                      class="fa fa-fw fa-external-link"
                      title="Open result in a new tab"
                    ></i>
                  </a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/evaporate/evaporate.js"></script>
    <script src="../lib/angular-evaporate.js"></script>
    <script src="index.js"></script>
  </body>
</html>
